:root {
  --main-color: rgba(255, 255, 255, 0.29);
}

.nav {
  width: 60%;
  margin: auto;
  padding: 10px;
  /* border: 1px solid steelblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  width: 40%;
  /* border: 1px solid steelblue; */
}

.btn {
  height: 80px;
  width: 100%;
  color: #FFF;
  border-radius: 20px;
  cursor: pointer;
  font: inherit;
  font-size: 1rem;
  background: none;
  border: 1px solid var(--main-color);
}

.btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
  width: 100%;
  /* border: 1px solid pink; */
  justify-content: space-between;
  margin: 10px 0 10px 0;
}

.person-container {
  /*max-width: 500px;*/
  display: flex;
  background: var(--main-color);
  color: white;
  cursor: pointer;
  border-radius: 75px;
  padding: 10px 20px;
  margin: 10px auto;
  align-items: center;
  width: 100%;
  /* border: 1px solid steelblue; */
}

.info {
  flex-direction: column;
  /* border: 1px solid steelblue; */
  margin: 20px;
  margin-left: 100px;
  padding: 10px;
}

.avatar {
  width: 120px;
  height: 120px;
}

/* .btn-link {
  background: var(--main-color);
  color: #FFF;
  /* border: 1px solid rebeccapurple; */


.link-container{
  margin: 2rem 0;
  /* padding: 0; */
  /*border: 1px solid steelblue;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* label {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
    margin-left: 20px;
}

form {
    display: flex;
    flex-direction: row;
    padding: 0px auto 0px auto;
    width: 100%;
} */

.btn-logout {
    width: 160px;
    height: 50px;
    background: #C75895;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
    border: none;
}

.btn:hover {
  border: 2px solid #FFF;
  background: none;
}

/* input{
    width: 80%;
    padding: 15px;
    margin: 5px auto 20px auto;
    background: none;
    border-radius: 20px;
    border: 1px solid rgba(245, 245, 245, 0.5);
} */
