.nav {
  width: 80%;
  margin: auto;
  padding: 10px;
  /*border: 1px solid steelblue;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 80%;
  margin: auto;
  /*overflow: auto;*/
  /*min-height: 300px;*/
  /*border: 1px solid steelblue;*/
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  /*align-items: center;*/
}

.btn {
  width: 180px;
  height: 80px;
  padding: 10px;
  background: white;
  color: #000;
  border: 1px solid rebeccapurple;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.person {
  /*max-width: 500px;*/
  display: flex;
  background: rebeccapurple;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px auto;
  align-items: center;

}

.info {
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 120px;
  height: 120px;
}

.btn-link {
  background: rgba(130, 66, 153, 0.53);
  color: #000;
  border: 1px solid rebeccapurple;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;

  font-size: 15px;
  width: 100%;

}

.main-buttons {
  margin: 20px 0;
  padding: 0;
  /*border: 1px solid steelblue;*/
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.links-buttons {
  margin: 20px 0;
  padding: 0;
  /*border: 1px solid steelblue;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}