.input {
    margin: 0;
    padding: 2rem;
    width: 100%;
}

.input input{
    display: flex;
    border-radius: 20px;
    border: 1px solid rgba(245, 245, 245, 0.5);
    width: 100%;
    margin-bottom: 2rem;
}

.input label {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
    margin-left: 20px;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn-cancel {
  background: none;
  border: 1px solid white;
}

.btn-cancel:hover,
.btn-cancel:active {
  background: rgba(255, 255, 255, 0.29);
}
